<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    <img src="/resources/pavan.png" alt="could not load image">
    <p> This site is created by Pavan Gopal</p>
    {{>footer}}
</body>

</html>